<div class="author">
  <h1 class="author__heading">Hi, I'm Spark.</h1>
  <p class="author__body">
    This is a website that I made. This website let you write blog on it
  </p>
</div>

<% if (logged) { %>
<div class="dashboard">
  <a href="/dashboard">Dashboard</a>
</div>
<% } %>

<section class="article">
  <h2 class="article__heading">Latest Posts</h2>

  <ul class="article-ul">
    <% data.forEach(post => { %>
    <li>
      <a href="/post/<%= post._id %>">
        <span><%= post.title %></span>
        <span class="article-list__date"
          ><%= post.createdAt.toDateString() %></span
        >
      </a>
    </li>
    <% }) %>
  </ul>

  <% if (nextPage !== null) { %>
  <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
  <% } %> <% if (atLastPage && current != 1) { %>
  <a href="/" class="pagination">Go Home (No Older Posts)</a>
  <% } %>
</section>
