<div class="author">
    <h1 class="author__heading">Hi, I'm Spark.</h1>
    <p class="author__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias dolore labore non qui modi natus vel voluptatem quisquam repudiandae fugit iure quas laboriosam, temporibus quia facilis, sint fuga. Nemo, vel!</p>

</div>
<div class="imgContainer">
    <img src="/img/cutie.jpg" class="image" alt="">
</div>

<section class="article">
    <h2 class="article__heading">Latest Posts</h2>
    
    <ul class="article-ul">
        <% data.forEach(post => { %>
            <li>
                <a href="/post/<%= post._id %>">
                    <span><%= post.title %></span>
                    <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
                </a>
            </li>
        <% }) %>
    </ul>
    
    <% if (nextPage !== null) { %>
        <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
    <% } %>
    <% if (atLastPage) { %>
        <a href="/" class="pagination">Go Home (No Older Posts)</a>
    <% } %>


</section>